---
http_interactions:
- request:
    method: get
    uri: https://www.tinkoff.ru/api/v1/currency_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Edge-Processing-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"trackingId":"0U675WC2M2","resultCode":"OK","payload":{"lastUpdate":{"milliseconds":1673530021515},"rates":[{"category":"DepositPayments","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":66.35,"sell":71.9},{"category":"CreditCardsOperations","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":66.35,"sell":71.9},{"category":"DebitCardsOperations","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":66.35,"sell":71.9},{"category":"PrepaidCardsOperations","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},[...]
