---
http_interactions:
- request:
    method: get
    uri: https://www.tinkoff.ru/api/v1/currency_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Edge-Processing-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"trackingId":"NHNRLBZTXV","resultCode":"OK","payload":{"lastUpdate":{"milliseconds":1674479607567},"rates":[{"category":"DepositPayments","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":67.25,"sell":72.15},{"category":"CreditCardsOperations","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":67.25,"sell":72.15},{"category":"DebitCardsOperations","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643"},"buy":67.25,"sell":72.15},{"category":"PrepaidCardsOperations","fromCurrency":{"code":840,"name":"USD","strCode":"840"},"toCurrency":{"code":643,"name":"RUB","strCode":"643[...]
